html {
    font-size: 18px;
  }
  
  body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  }
  
  a {
    color: #00B7FF;
  }
  
  .header {
    background-color: rgba(255, 166, 0, 0.774);
  }
  
  .header-logo {
    font-size:50px;
    color: aliceblue;
  }
  
  #container {
    width: 400px;
    margin: 50px auto 0;
  }
  
  .text-input {
    width: 100%;
    height: 40px;
    margin-bottom: 30px;
    box-sizing: border-box;
    font-size: 1rem;
    padding-left: 10px;
  }
  
  #shopping-list {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size:20px;
  }
  
  #add-button {
    margin-left: 360px;
  }

  #delete-button {
    margin-left: 60px;
  }
  
  .serching{
    padding-left: 100px;
  }

  .serching-li {
      display:flex;
      list-style-type: none;
  }

  .total {
      padding-left: 320px;
  }

  .clothing{
      padding-left: 240px;
  }
  
  
  .cookpad {
    height:120px;
    width:200x;
    padding-left: 50px;
  }
  
  .amazon {
    height:120px;
    width:160px;
    padding-left:50px
  }
  
  .zozotown {
    height:140px;
    width:140px;
    padding-left:50px
  }